* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  padding: 10px;
  border: 2px solid royalblue;
  width: 90vw;
  max-width: 450px;
  margin: 3rem auto;
}

.heading {
  text-align: center;
}